.backgroundBGR{
  background: url('/imgs/background.jpg') no-repeat center;
  height: 958px;
}
.rectangle4 {
  background-color: rgba(255,255,255,0.0);
  top: 19px;
  height: 944px;
  width: 862px;
  position: absolute;
  margin: 0;
  left: 82px;
}
.footballspace {
  background-color: rgba(255,255,255,0.0);
  top: 266px;
  height: 59px;
  width: 447px;
  position: absolute;
  margin: 0;
  left: 431px;
}
.bitmap {
  background-color: rgba(255,255,255,0.0);
  top: 215px;
  height: 125px;
  width: 199px;
  position: absolute;
  margin: 0;
  left: 311px;
}

.page1{width:100%;min-width:1024px;height:100vh;min-height:1024px;position:relative;overflow:hidden;margin:0;background-color:rgba(255,255,255,1.0)}
a{text-decoration:none}
div{-webkit-text-size-adjust:none}
.page1 .backgroundfootballhd8{background-color:rgba(255,255,255,0.0);top:-14px;height:1080px;width:1920px;position:absolute;margin:0;left:-359px}
.page1 .rectangle4{background-color:rgba(255,255,255,0.0);top:19px;height:944px;width:862px;position:absolute;margin:0;left:82px}
.page1 .group2{background-color:rgba(255,255,255,0.0);top:789px;height:82px;width:197px;position:absolute;margin:0;left:428px}
.page1 .rectangle3{background-color:rgba(255,255,255,0.0);top:1958px;height:140px;width:951px;position:absolute;margin:0;left:37px}
.page1 .footballspace{background-color:rgba(255,255,255,0.0);top:50px;height:59px;width:447px;position:absolute;margin:0;left:354px}
.page1 .rectangle2{background-color:rgba(255,255,255,0.0);top:401px;height:52px;width:417px;position:absolute;margin:0;left:318px}
.page1 .type-the-of-the-te{background-color:rgba(255,255,255,0.0);top:240px;height:122px;width:396px;position:absolute;margin:0;left:329px}
.page1 .check-your-location{background-color:rgba(255,255,255,0.0);top:497px;height:11px;width:142px;position:absolute;margin:0;left:447px}
.page1 .bitmap{background-color:rgba(255,255,255,0.0);top:12px;height:125px;width:199px;position:absolute;margin:0;left:222px}
.page1 .rectangle6{background-color:rgba(255,255,255,0.0);top:495px;height:17px;width:20px;position:absolute;margin:0;left:437px}
.anima-animate-appear{opacity:0;display:block;-webkit-animation:anima-reveal .3s ease-in-out 1 normal forwards;-moz-animation:anima-reveal .3s ease-in 1 normal forwards;-o-animation:anima-reveal .3s ease-in-out 1 normal forwards;animation:anima-reveal .3s ease-in-out 1 normal forwards}
.anima-animate-disappear{opacity:1;display:block;-webkit-animation:anima-reveal .3s ease-in-out 1 reverse forwards;-moz-animation:anima-reveal .3s ease-in 1 normal forwards;-o-animation:anima-reveal .3s ease-in-out 1 reverse forwards;animation:anima-reveal .3s ease-in-out 1 reverse forwards}
.anima-animate-nodelay{-webkit-animation-delay:0;-moz-animation-delay:0;-o-animation-delay:0;animation-delay:0}
.page2 .a6922901fernandotorreschelseawallpaper {
    background-color: rgba(255,255,255,0.0);
    top: -14px;
    height: 1064px;
    width: 1702px;
    position: absolute;
    margin: 0;
    left: -642px;
}
.page2 .oval2 {
    background-color: rgba(255,255,255,0.0);
    top: 183px;
    height: 134px;
    width: 134px;
    position: absolute;
    margin: 0;
    left: 597px;
  }
  .page2 .now-enter-your-guest {
    background-color: rgba(255,255,255,0.0);
    top: 345px;
    height: 44px;
    width: 435px;
    position: absolute;
    margin: 0;
    left: 447px;
}
.page2 .rectangle2 {
    background-color: rgba(255,255,255,0.0);
    top: 389px;
    height: 52px;
    width: 417px;
    position: absolute;
    margin: 0;
    left: 455px;
}
.page2 .group2 {
    background-color: rgba(255,255,255,0.0);
    top: 789px;
    height: 82px;
    width: 197px;
    position: absolute;
    margin: 0;
    left: 566px;
}
.page2 .footballspace {
    background-color: rgba(255,255,255,0.0);
    top: 50px;
    height: 59px;
    width: 447px;
    position: absolute;
    margin: 0;
    left: 354px;
}
.page2 .bitmap {
    background-color: rgba(255,255,255,0.0);
    top: 12px;
    height: 125px;
    width: 199px;
    position: absolute;
    margin: 0;
    left: 222px;
}
.page2 .icons8home26 {
    background-color: rgba(255,255,255,0.0);
    top: 34px;
    height: 50px;
    width: 50px;
    position: absolute;
    margin: 0;
    left: 32px;
}

@-webkit-keyframes anima-reveal{0%{opacity:0}100%{opacity:1}}
@-moz-keyframes anima-reveal{0%{opacity:0}100%{opacity:1}}
@-o-keyframes anima-reveal{0%{opacity:0}100%{opacity:1}}
@keyframes anima-reveal{0%{opacity:0}100%{opacity:1}}
