.event-mode .shutterstock3001035981, .shutterstock3001035981 {
  background-color: rgba(255,255,255,0.0);
  top: -298px;
  height: 780px;
  width: 1920px;
  position: absolute;
  margin: 0;
  left: 0px;
}
.center-every {
  text-align: center;
}
.backgroundfootballhd8{
  background-color:rgba(255,255,255,0.0);
  top:-14px;
  height:1080px;
  width:1920px;
  position:absolute;
  margin:0;
  left:-359px
}
.event-mode .real-madrid-chelse, .real-madrid-chelse {
    background-color: rgba(255,255,255,0.0);
    top: 27px;
    text-align: center;
    height: 49px;
    width: 380px;
    position: absolute;
    margin: 0;
    left: 770px;
}
.event-mode .l-ive, .l-ive {
    background-color: rgba(255,255,255,0.0);
    top: 27px;
    height: 32px;
    width: 207px;
    position: absolute;
    margin: 0;
    left: 30px;
}
.event-mode .icons8exit48, .icons8exit48 {
    background-color: rgba(255,255,255,0.0);
    top: 23px;
    height: 48px;
    width: 48px;
    position: absolute;
    margin: 0;
    left: 1850px;
}
.event-mode .e-xit, .e-xit {
    background-color: rgba(255,255,255,0.0);
    top: 27px;
    height: 32px;
    width: 75px;
    position: absolute;
    margin: 0;
    left: 1790px;
}
.event-mode .rectangle3, .rectangle3 {
    background-color: rgba(255,255,255,0.0);
    top: 270px;
    height: 49px;
    width: 1920px;
    position: absolute;
    margin: 0;
    left: 0px;
}
.event-mode .rectangle2, .rectangle2 {
    background-color: rgba(255,255,255,0.0);
    top: 275px;
    height: 39px;
    width: 320px;
    position: absolute;
    margin: 0;
    left: 800px;
}
.event-mode .try-to-guess, .try-to-guess {
    background-color: rgba(255,255,255,0.0);
    top: 280px;
    height: 29px;
    width: 222px;
    position: absolute;
    margin: 0;
    left: 849px;
}
.event-mode .a5244, .a5244 {
    background-color: rgba(255,255,255,0.0);
    top: 27px;
    height: 32px;
    width: 122px;
    position: absolute;
    margin: 0;
    left: 70px;
}
.event-mode .rectangle7, .rectangle7 {
    background-color: rgba(255,255,255,0.0);
    top: 314px;
    height: 800px;
    width: 1920px;
    position: absolute;
    margin: 0;
    left: -1px;
}
.event-mode .rectangle4, .rectangle4 {
    background-color: rgba(255,255,255,0.0);
    top: 824px;
    height: 200px;
    width: 1920px;
    position: absolute;
    margin: 0;
    left: 0;
}
